#container {
  margin-left: auto;
  margin-right: auto;
}

h1 {
  text-decoration: overline;
}

.box {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin: 20px;
  border: 2px solid blue;
  padding: 20px;
}

.jumbotron {
  text-align: center;
}

h4 {
  font-family: sans-serif;
  text-align: center;
}

.well {
  padding: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.bg-info {
  padding: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

h5,p {
  text-align: center;
}

.cod {
  color: blue;
}

h2 {
  text-align: center;
}
@media and (max-width: 768px) and (min-width: 600px) {
  body {
    background-color: black
  }
}

.sayaw {
  text-align: right;
}
