#container {
  margin-left: auto;
  margin-right: auto;
}

.jumbotron {
  background-color: #38A8FF;
  text-align: center;
}

h4 {
  text-align: center;
}

.well {
  padding: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.bg-info {
  padding: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
